<br/>
<h3 align='center'>Updating Team</h3>

<%= render 'form' %>

<% if is_admin? %>
<%= link_to 'Team List', teams_path, :class => "button round", :style => "color:white" %> |
<%= link_to 'Back', @team, :class => "button round", :style => "color:white" %>
<% else %>
<%= link_to 'Back', @team, :class => "button round", :style => "color:white" %>
<% end %>
