<br>
<h3 align='center'>Updating Participant</h3>

<%= render 'edit_form' %>

<% if is_admin? %>
	<%= link_to 'Back', participants_url, { :class => "button round", :style => "color:white" } %>
<% else %>
	<%= link_to 'Back to Dashboard', participant_dashboard_url, :class => "button round", :style => "color:white" %>
<% end %>
