<h1>Editing Participant</h1>

<%= render 'edit_form' %>

<%= link_to 'Show', @participant %> |
<% if is_admin? %>
	<%= link_to 'Participant List', participants_url %>
<% else %>
	<%= link_to 'Dashboard', participant_dashboard_url %>
<% end %>
