<h1>New Participant</h1>

<%= render 'new_form' %>

<% if is_admin? %>
<%= link_to 'Back', participants_path, :class => "button round" %>
<% else %>
<%= link_to 'Back', :back, :class => "button round" %>
<% end %>
