<br>
<h3 align='center'>New Participant</h3>

<%= render 'new_form' %>

<% if is_admin? %>
<%= link_to 'Back', participants_path, :class => "button round" %>
<% else %>
<%= link_to 'Back', "/team_members/#{current_participant.team.id}", :class => "button round" %>
<% end %>
