<h1>Show team members</h1>

<% @participants.each do |participant| %>
	<% @id = participant.id %>
	<p>
		<% @account = Account.find_by user_id: @id %>
		<%= @account.first_name %>
		<%= @account.last_name %>
		| <%= link_to "Remove", participant, method: :delete, data: { confirm: "Remove #{@account.first_name} #{@account.last_name} from the team?" } %>
	</p>
<% end %>



<li><%= link_to "Add new team member", controller: "participants", action: "new" %></li>
