<h2>Mass Registration</h2>

<%= render 'registration_form' %>

<script>
  $(function(){
    console.log("test");
    $('#other').hide();
	$('#team_school').change(function() {
	  console.log("test2");
	  var val = $(this).val();
	  $('#other').hide();
	  console.log("val: " + val);
	  if (val == "Other") {
	    console.log("test3");
	    $('#other').show();
	  }	    
	});
  });
</script>