<h1>Welcome to TREC</h1>
<p>This will be the home page.</p>

<table class="icon">
  <tr>
    <td class="icon-logo"><button class="fi-mail icon-logo"></button></td>
    <td class="icon-label">Send Notifications</td> 
  </tr>
  <tr>
    <td class="icon-logo"><button class="fi-clipboard-pencil icon-logo"></button></td>
    <td class="icon-label">Participant Check-In</td>  
  </tr>
</table>
