<br>
<h3>Texas A&M Regional Engineering Conference</h3>

<ul class="example-orbit" data-orbit>
  <li>
    THIS IS JUST SOME TEXT!
    <div class="orbit-caption">
    </div>
  </li>
  <li class="active">
    TO TEST OUT THIS ORBIT SLIDER!
    <div class="orbit-caption">
    </div>
  </li>
  <li>
    IMAGES WILL BE LOOPED AND GO HERE! YAY!
    <div class="orbit-caption">
    </div>
  </li>
  <li>
    HERP DERP DERP
    <div class="orbit-caption">
    </div>
  </li>
</ul>

<br>
<h3>Welcome</h3>
<% if !@welcome.nil? && !@welcome.body.nil? %>
	<div><%= @welcome.body%></div> 
<% end %>

<h3>About</h3>
<% if !@about.nil? && !@about.body.nil? %>
  <div><%= @about.body%></div> 
<% end %>


<br>

