<br>
<h3>Texas A&M Regional Engineering Conference</h3>

<ul class="example-orbit" data-orbit>
  <% @images.each do |image| %>
     <li>
        <%= image_tag(image.image_url_url.to_s, size: "250x100") %>
		<div class="orbit-caption" align='center'>
        </div>
     </li>
   <% end %>
</ul>

<br>
<h3>Welcome</h3>
<% if !@welcome.nil? && !@welcome.body.nil? %>
	<div><%= @welcome.body%></div> 
<% end %>

<h3>About</h3>
<% if !@about.nil? && !@about.body.nil? %>
  <div><%= @about.body%></div> 
<% end %>


<br>

