<br>
<h3>Texas A&M Regional Engineering Conference</h3>

<ul class="example-orbit" data-orbit>
  <% @images.each do |image| %>
     <li>
        <%= image_tag(image.image_url_url.to_s, size: "250x100") %>
		<div class="orbit-caption" align='center'>
        </div>
     </li>
   <% end %>
</ul>

<br>
<div>The Texas A&M Regional Engineering Conference (TREC) is an event hosted annually by the Student Engineers’ Council at A&M for engineering students at A&M and surrounding schools. The purpose of this conference is to increase student interest and retention in engineering disciplines, foster communication between students at different schools, and provide an insight into common projects encountered in the industry.</div> 

<br>
<div>Down here will be some info about the current conference!</div>
