<br>
<h3>Texas A&M Regional Engineering Conference</h3>

<% if !@images.nil? %>
<ul class="example-orbit" data-orbit>
  <% @images.each do |image| %>
     <li>
        <%= image_tag(image.image_url_url.to_s) %>
		<div class="orbit-caption" align='center'>
        </div>
     </li>
   <% end %>
</ul>
<% end %>

<br>
<% if !@pageinfos.nil? %>
	<% @pageinfos.each do |pageinfo| %>
		<h3><%= pageinfo.page %></h3>
		<div><%= pageinfo.body %></div>
		<br>
	<% end %>
<% end %>

<br>
