<br>
<h3 align='center'>Editing Event</h3>

<%= render 'form' %>

<%= link_to 'Show', @event, :class => "button round", :style => "color:white" %>
<%= link_to 'Back', events_path, :class => "button round", :style => "color:white" %>
