<br>
<h3 align='center'>Updating School</h3>

<%= render 'form' %>

<%= link_to 'View School', @school, :class => "button round" %>
<%= link_to 'School List', schools_path, :class => "button round"%>
