/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 @import 'foundation_and_overrides';
 //@import 'foundation';
 @import 'foundation-icons';


table.icon {
	width: 60%;
	box-shadow: 10px 10px 5px #888888;
	background-color: transparent;
	border-color: transparent;
}

table.icon tr {
	background: transparent;
}

td.icon {
	width: 40%;
	padding: 20px;
	margin: auto;
	text-align: center;
	background: light-gray;
}

a.ibutton {
	@include button;
	@include radius(50px);
	margin: 0px;
	width: 60%;
	background: #500000;
	color: #ffffff;
	font-size: 40px;
}

a.ibutton:hover {
	background: #104554;
}

td.icon-label {
	padding: 0px;
	margin: auto;
	font-size: 20px;
	vertical-align: middle;
}
