// Place all the styles related to the Participants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list_participant th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
  font-color: white;
  color: white;
}

.list_participant th .asc {
  background-image: url(up.gif);
}

.list_participant th .desc {
  background-image: url(down.gif);
}