<br>
<h3 align='center'>Editing Page Info</h3>

<%= render 'form' %>

<%= link_to 'Show', @pageinfo, :class => "button round", :style => "color:white" %> |
<%= link_to 'Back', pageinfos_path, :class => "button round", :style => "color:white" %>
