<br>
<h3 align='center'>Editing Image</h3>

<%= render 'form' %>

<%= link_to 'Show', @image, :class => "button round", :style => "color:white" %> |
<%= link_to 'Back', images_path, :class => "button round", :style => "color:white" %>
