<p>
  <strong>Image url:</strong>
   <td><%= image_tag(@image.image_url_url.to_s, size: "100") %></td>
</p>

<%= link_to 'Edit', edit_image_path(@image), :class => "button round", :style => "color:white" %>
<%= link_to 'Back', images_path, :class => "button round", :style => "color:white" %>
